<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
     http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="messenger" class="com.MessengerImpl"/>

    <!--<bean id="writer" class="com.WriteToFileImpl" init-method="init" >-->
        <!--<constructor-arg index="0" value="storage.txt"/>-->
    <!--</bean>-->

    <bean id="cacheWriter" class="com.CacheWriter" destroy-method="destroy" init-method="init" >
        <constructor-arg value="4"/>
        <constructor-arg value="storage.txt"/>
    </bean>

    <bean id="app" class="com.Application" scope="prototype" lazy-init="true">
        <constructor-arg ref="cacheWriter" />
        <constructor-arg ref="messenger" />
    </bean>

    <bean id="df" class="java.text.DateFormat" factory-method="getTimeInstance" />

    <bean id="appTime" class="com.MessLastTime" scope="prototype" >
        <constructor-arg>
            <bean class="java.util.Date" />
        </constructor-arg>
        <constructor-arg ref="df" />
    </bean>
</beans>
